doctype html
html
	head
		include ./includes/head.jade
	body
		.top-background-image
			include ./includes/brand
		nav.nav-horizontal#nav-main
			include ./includes/nav.jade
		main
			block content
		footer
			include ./includes/footer.jade
		
		include ./includes/templates.jade
		include ./includes/scripts.jade