doctype html
html
	head
		include ./includes/head.jade
	body
		nav.navbar.navbar-fixed-top.trans-green
			include ./includes/nav.jade
		main
			block content
		footer.trans-green
			include ./includes/footer.jade
		
		include ./includes/templates.jade
		include ./includes/scripts.jade