extends ../layout

block content
	section#advantage.wow.fadeIn
		.content-inset
			h2 The System T Advantage 
			include ./content/advantage
	section.wow.fadeIn
		.content-inset
			include ./content/summary
	section#clients.wow.flipInX
		.content-inset
			h2 Clients
			include ./content/clients
	section#services.wow.slideInLeft
		.content-inset
			h2 Expertise
			include ./content/expertise
	section#functional-areas.wow.slideInRight
		.content-inset
			h2 Functional Areas
			include ./content/functional-areas
	section#contact.wow.slideInLeft
		p.headline I'm good at what I do, let me help you out on your next project.