extends ../layout

block content
	div.jumbotron
		div.message
			h1 this is what I do best
			// ISSUE
			// box-shadow does not improve visibility: change text font?
			// p see what the future of construction has in store
			a.btn.btn-primary.btn-lrg(href="/technology" role='button') learn more