// Colors
//
// defines all colors to be used in the document
//
// Styleguide Colors

// vars
$transparent-ratio: 0.7

// semantic colors
$blue-1: $rgba-primary-0
$blue-2: $rgba-primary-1
$blue-3: $rgba-primary-2
$blue-4: $rgba-primary-3
$blue-5: $rgba-primary-4
$transparent-white: rgba(0,0,0,$transparent-ratio)

// MAKE MODIFICATIONS HERE
$color-primary: $blue-1

$color-primary-text: mix($color-primary, black, 30%)
$color-primary-trans: rgba($color-primary, $transparent-ratio)

$color-secondary: $blue-2

$color-secondary-text: mix($color-secondary, black, 30%)
$color-secondary-trans: rgba($color-secondary, $transparent-ratio)


// theme
// 
// color theme
//
// .theme-main			- main theme
//
// Markup:
// ./kss/markup/colors.html
//
// Styleguide Colors.theme


.theme-main
	background-color: $color-secondary
	color: $color-primary-text
	h1, a, a h1
		color: $color-primary-text


// 	module colors
//		drop shadow
$drop-shadow: $color-primary