// fonts
// headers
$header-font: 'Raleway', sans-serif

// paragraph
$paragraph-font: 'Droid Serif', serif


// layout
// dimensions
$width-html: 99.9%
$width-body: 99.9%
$width-main: 95%
$width-displays: 100%

$height-html: 99%
$height-body: 99%

// margins
$margin-header: 0 0 0 0
$margin-footer: 0 0 0 0


// Module Vars
// rounded-corners.sass
$border-radius: 3px
