.container
	.row
		.col-xs-4.col-sm-4.col-md-4.col-lg-4
			article.contact-section
				h3 email
				p lisa@systemt.ca
		.col-xs-4.col-sm-4.col-md-4.col-lg-4
			article.contact-section
				h3 phone
				p.glyph-phone 403.615.4123
		.col-xs-4.col-sm-4.col-md-4.col-lg-4
			article.contact-section
				h3 linkedIn
				p http://linkd.in/1EJsNtf