.container
	.row
		.col-xs-4.col-sm-4.col-md-4.col-lg-4
			article.contact-section
				h3 email
				p jane@your-email-here.com
		.col-xs-4.col-sm-4.col-md-4.col-lg-4
			article.contact-section
				h3 phone
				p.glyph-phone 403.555.1234
		.col-xs-4.col-sm-4.col-md-4.col-lg-4
			article.contact-section
				h3 linkedIn
				p http://linked.In