h3 Consulting Services
ul.list-hover-show.container-fluid
	.row
		li.col-xs-12.col-sm-4
			p.title Strategic Planning
			p.description making strategic plans the coordinate with company missions
		li.col-xs-12.col-sm-4
			p.title Program Management
			p.description managing multiple projects at the same time, coordinating and synchronizing mission-critical endpoints
		li.col-xs-12.col-sm-4
			p.title Project Management
			p.description complete life-cycle management of IT-related projects across many company activity profiles
	.row
		li.col-xs-12.col-sm-6.col-md-4
			p.title Business Analysis
			p.description analyzing business decisions with the aim of propelling company missions
		li.col-xs-12.col-sm-6.col-md-4
			p.title Change Management
			p.description smoothing over the rough edges of system changes within large organizations