p.headline.
	After twenty-five years in the oil industry, you get good at knowing what works and what doesn't.
p A skilled information management professional with 34 years of experience focussing on strategic planning, program management and project management, business analysis and change management.

p I specialize in project management techniques that emphasize both effective business modeling and most recently, outcome based project management methodologies. I have been involved in numerous assignments with experiences in the following functional areas: 
ul 
	li Strategic Sourcing
	li Procurement
	li Sales and Marketing
	li Energy Trading
	li Treasury
	li Financial and Production Accounting
	li Exploration
	li Drilling and Completions and Operations

p In addition, I have experience with cross-functional applications in the areas of Supply Chain Management, Oil and Gas Production Management, Well Life Cycle Management, Customer Relationship Management, and Data Warehousing. 

p While I am well known and recognized for my strengths in project delivery, I am perhaps more valuable for my ability to go from ambiguity to action. I have direct experience in working with business and IT stakeholders to define a vision and strategy. I can then turn the long term vision into a practical executable plan with each project or activity designed to contribute to the overall vision.

p I maintain a disciplined approach to information management and through excellent interpersonal skills have dealt successfully with all levels within the various organizations. My approach, as well as, proven experience in managing projects and relationships, results in win-win situations for all project stakeholders.