title= title

//- // jquery
//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

//- // boostrap
//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
//- //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

//- // google fonts
//- link(href='http://fonts.googleapis.com/css?family=Ubuntu|Droid+Serif' rel='stylesheet' type='text/css')

//- // wowjs
//- script(src='/assets/wow.min.js')

// css
//- link(rel='stylesheet' href='/assets/animate.css')

// bower:css
// endbower

link(rel='stylesheet' href='/css/index.css')

