//- script(src='/assets/jquery.sticky.js')

// bower:js
// endbower

script(src='/js/scripts.js')

// activate wowjs
script.
	new WOW({
		offset: 30
		}).init()
	console.log('wow init')

	$('a').smoothScroll({
		offset: -35,
		easing: 'swing'
		})